

body{
    background-color: #001428;
}

header{
    display: flex;
    flex-flow: column;
    width: 100%;
  
}
.nav-container{
    border-top: solid 3px #5fb8b2;
}

.logo-brand-container{  
    width: 100%;
    display: flex;
    height: 220px;
    flex-flow: row;   
    background-image: url("../img/logo.jpg");
    background-position: center;
    background-size:contain; 
    background-repeat: no-repeat, repeat;
    
}

.main-container{
    margin-top: 20px;
    display: flex;  
    flex-flow: column;    
}

.admin-tables{
    width: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;    
    margin-bottom: 15px;  
}

.product-table-container, .brand-table-container{
    max-height: 200px;
    overflow:scroll;
}

.forms-container{
    display: flex;
    justify-content:space-around;
    width: 100%;

}

.new-form-container{   
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content:flex-start;
    padding-left: 10px;
    padding-right: 10px;    
  
}

.new-row-form{
    width: 30%;
    border: solid black 1Px;
    box-shadow: 10px 5px 5px black;
    background-color:white;
}

label,h3{
   color: black;
}

td,tr{
    text-align: center;
}
.form-title{
    text-align: center;
}
.brand-container{
    padding-left: 17px;
}
#brand-table{
    margin-top: 15px;
}

.btn.btn-primary{
margin-bottom: 5px;
margin-left: 3%;
}

footer{
    height: 60px;
    background-color: black;
    border-top: rgba(255, 255, 255, 0.829) 1.3px solid;
    margin-top: 1%;
    width: 100%;
}

.form-btn-container{
    display: flex;
    flex-flow: row;
    justify-content:flex-end;   
    width: 100%;
    align-items: center;
}

.main-error-container{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 400px;   
    width:100% ;
}

.bi-exclamation-triangle-fill{
    font-size: 8em;
    color: #02acff;
}

.advertising-logo{    
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;    
}

.hide{
    display: none;
}

#cancel-brand-edit, #cancel-product-edit{
    margin-left: 5px;
    margin-right: 5px;
}

.btn.btn-success, .btn.btn-light{
    margin-bottom: 10px;
    margin-right: 5px;   
}

.btn.btn-light{
    border: solid 0.1px black;
}

.brand-form{
    height: 180px;
}
.new-admin-form{
    height: 265px;
}

.main-product-list-container{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: white;
    margin-top: 5px;
    flex-flow: column;
    height: 500px;
}

.main-product-container{
    display:flex;
    flex-flow: row;
    flex-wrap: wrap;
    width:100%;
    height: 500px; 
    border-top: solid 1px black;
}

.product-menu{
    width: 25%;  
    height: 500px;
    border-right: solid 3px #5fb8b2;
}

.product-list-container{
    width: 75%;
    height: 500px;
    background-color: white;   
}

.filters-container{
    margin-bottom: 3px;
    border-bottom: 5px solid  #001428; ;
}

h1,h2{
    color: aliceblue;
 
}
.specificationsContainer{

    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto ;
    grid-template-areas: "product product cart"
                        "image description description"
                        "image  brand price";

    margin: 30px;
}
.product { grid-area: product; }
.brand { grid-area: brand; }
.price { grid-area: price; }
.image { grid-area: image; }
.description {grid-area: description;}
.cart {grid-area: cart;}

.back{
    padding: 20px;
}

h3.especificationView{
    color:#5fb8b2;
}

p{
    font-size: x-large;
    color:blanchedalmond
}

.description-column{
    width: 50vw;
}


.registration-container{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;  
    height: 500px; 
    background-image: url("../img/register.png") ;
    background-position: 40% 1%;
}

.registration-label{
    color:white;
}

#sign-in{
    margin-left: 0;
}
#start-session{
    margin-bottom: 0;
}
.image{
    display: flex;
    justify-content: center;
}
.style-image{
    width: 350px;
    
}
.product{
    margin-bottom: 3vh;
}


#drop-btn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    width: 24.6vw;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 24.6vw;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;
}

.user-message{
    color:#ffe301;
}